* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.feed-form {
    padding: 36px 0 100px 0;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 710px;
}    

input {
    height: 100px;
    max-width: 710px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #4B4B4B;
}

.button_submit {
    max-width: 350px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5%;
    color: white;
    background-color: rgb(252, 40, 40);
    cursor: pointer;
}

.button_submit:hover {
    color: rgb(29, 26, 26);
    background-color: rgb(255, 255, 255);
}

/* Кнопка выпадающего списка */
.dropbtn {
    width: 320px;
    display: block;
    margin: 0 auto;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  /* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}
  
  /* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
    position: relative;
    height: 100px;
}
  
  /* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
    display: none;
    background-color: #f1f1f1;
    max-width: 320px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Ссылки внутри выпадающего списка */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #ddd}
  
  /* Показать выпадающее меню (используйте JS, чтобы добавить этот класс .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
    display:block;
    margin: 0 auto;
}

